div{
  margin:10px;
  padding: .4rem;
  background-color: rgb(40, 38, 49);
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 10px;
}

h1 {
  color: white;
  font-weight: 400;
}

span {
  font-weight: bold;
}

a {
  color: white;
  text-decoration: none;
  margin-right: 1rem;
  font-weight: bold;
}