body{
  background-color: rgb(43, 58, 73);
}

.app-container {
  background-color: rgb(43, 58, 73);
  height: 100vh; /* Asegúrate de que el fondo cubra toda la ventana */
  display: flex;
  justify-content: center;
  align-items: center;
  
}

